# top-most EditorConfig file
root = true

# Languages
[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = error

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = warning

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = suggestion

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = default

# IDE0027: Use expression body for accessors
dotnet_diagnostic.IDE0027.severity = suggestion

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = suggestion

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = warning

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = suggestion

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = suggestion

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning

# IDE0066: Convert switch statement to expression
dotnet_diagnostic.IDE0066.severity = suggestion

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = default

# IDE0072: Add missing cases
dotnet_diagnostic.IDE0072.severity = suggestion

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = warning

# IDE0120: Simplify LINQ expression
dotnet_diagnostic.IDE0120.severity = warning

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# Mark assemblies with CLSCompliantAttribute
dotnet_diagnostic.CA1014.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = default

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = default

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1310.severity = default

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = default

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = default

# CA1849: Call async methods when in an async method
dotnet_diagnostic.CA1849.severity = default

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = default
